
/* .container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "sidebar content content content"
    "sidebar content content content";
} */

/* .content {
  grid-area: content;
} */

/* @import url("https://rsms.me/inter/inter.css");

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  background: white;
  font-family: "Inter var", sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  width: 76ch;
}

h1 {
  position: absolute;
  top: 43px;
  left: 140px;
  padding: 0;
  margin: 40px;
  font-size: 5em;
  line-height: 0.7em;
  letter-spacing: -6px;
  color: #272730;
}

.picker {
  position: absolute !important;
  top: 74px;
  left: 70px;
  width: 90px !important;
  height: 90px !important;
} */