/* html, body {
    margin: 0;
    padding: 0;  
  }
  
  * {
      box-sizing: border-box;
  }
  
  .header{
      width: 100%;
      height: 80px;
      background: blue;
  }
  
  .container{
      display: flex;
      min-height: calc(100vh - 80px);
  }
  
  .sidebar{
      width: 20%;
      background: green;
  }
  
  .content{
      width: 80%;
      background: yellow;
  }
  
  .footer{
      width: 100%;
      height: 60px;
      background: black;
  } */